<div class="row">
    <div class="col s12">

        <ul class="collection with-header">
            <li class="collection-header"><h4>Заказанные блюда</h4></li>
            <li class="collection-item collection_item__extended" ng-repeat="order in kitchenOrderData">
                <div>{{order.dish.title}}
                    <button ng-click="setCooking(order)" class="secondary-content waves-effect waves-light btn">Начать готовить</button>
                </div>
            </li>
        </ul>

    </div>
    <div class="col s12">
        <ul class="collection with-header">
            <li class="collection-header"><h4>Готовящиеся блюда</h4></li>
            <li class="collection-item collection_item__extended" ng-repeat="order in kitchenCookingData">
                <div>{{order.dish.title}}
                    <button ng-click="setDelivered(order)" class="secondary-content waves-effect waves-light btn">Готово</button>
                </div>
            </li>
        </ul>

    </div>
</div>