<div class="section">
    <div class="row">
        <form class="col s12" name="addForm">

            <div class="row">
                <div class="col s12">
                    <div class="input-field col s12">
                        <ul class="collection with-header">
                            <li class="collection-header"><h4>Список всех блюд</h4></li>
                            <li class="collection-item avatar" ng-repeat="dish in dishes">
                                <img src="{{dish.image}}" alt="" class="circle" width="60">
                                <p class="title"><b>{{dish.title}}.</b> Цена - <b>{{dish.price}}</b></p>
                                <span>{{dish.ingredients}}</span>
                                <a ng-if="( userdata.money >= dish.price )" href="#!" class="secondary-content waves-effect waves-light btn btn-adddish" ng-click="addDish(dish)">Заказать</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('select').material_select();
    });
</script>
